@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url(images/Utah_teapot_simple_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    padding: 2rem;
}

.button-container {
    height: 30rem;
    width: 18rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-items: grid-start;
    grid-gap: 1rem;
}

button:hover {
    background-color: #3183d6;
    color: #fffb00
}

button {
    height: 4rem;
    border-radius:  1rem;
    background-color: #687888;
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
}

.container {
    border:  solid #5D6D7D;
    border-radius: 1rem;
    padding: 2rem;
    text-align: right;
    background-color: #7c9ab8;
}

p {
    height: 4rem;
    border: 1px solid #5D6D7D;
    border-radius:  0.5rem;
    font-size: 50px;
    align-items: grid-end;
    margin: 0;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    background-color:#E7EBEE;
    opacity: 0.7;
    font-family: 'Satisfy', cursive;
    text-align: center;
}